//global styles

* {
    box-sizing: border-box;
    max-width:100%;
    // border: .1rem solid gray;
}
table{
    width:90%;
    font-size:2.5rem;
    text-align: center;
    margin:5%;
}
body{
    background-color:@main-color;
}

button{
    .custom-btn(black, white);
    margin-top:1rem;
}
li{
    margin: 1rem;
    list-style-type: circle;
}
th{
    color:white;
    font-size:3.5rem;
    text-shadow: 2px 2px 4px black;
    text-decoration: underline;
}

td{
    color:@secondary-color;
    padding: 1rem 0;
}
