//Colors
@main-color:#2e5077;
@secondary-color: #ffa630;
@main-color-lighten: #3c699c;

// #611C35 //purple for button
// #2e5077 // main blue
// #ffa630 // orange 


// #84da1a9, #d7e8ba
//Fonts
@title-font: "Marck Script", cursive;
@main-font: "DM Serif Text", serif;



//mobile
@mobile: ~'(max-width: 500px)';


